.layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 103px;
    padding-top: 74px;
    padding-right: 74px;
    padding-bottom: 74px;
    height: 100vh;
}

.container {
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 26px;
align-self: stretch;
flex-wrap: wrap;
overflow-y: scroll;
&::-webkit-scrollbar {
    display: none;
}
}

.wrapper {
    display: flex;
    width: 1179px;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.left {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 78px;
}

.go {
    display: flex;
padding: 23px 25px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border: 5px solid #FFF;
background: #7CC4E9;
box-shadow: 0px 4px 0px 0px #7EC8EC;
cursor: pointer;
transition: background 0.3s;
&:hover {
    background: #9ccce4;
}
}